.movies {
    width: 100%;
    justify-content: center;
    text-align: center;
 
  }
.cards {
    list-style: none;
    margin: 0;
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr) );
    gap: 3em;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15em;
    background-color: rgb(138, 140, 138);
    
    border-radius: 0.4em;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.8);
}
.movie-title {
    margin-bottom: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    color: rgba(40, 40, 2, 0.8)
}
.movie-year {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.image-container {
    width: 90%;
    height: 65%;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: container;
    border-radius: 0.4em;
}
